<% files.each do |t| %>
  <div class="col-12" style="margin-bottom: 20px;">
    <label>
      Arquivo: <%= t.order_file.to_i+1 %>
      Total: <%= t.total.to_i %>
      Sucess: <%= t.sucess.to_i %>
      Erros: <%= t.erros.to_i %>
    </label>
    <% porcentagem = (((t.sucess.to_i+t.erros.to_i)*100).to_f/(t.total-1).to_f).round(2) %>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="<%= porcentagem %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= porcentagem %>%"><%= porcentagem %>%</div>
    </div>
  </div>

  <% if import.termino %>

    <div class="col-12 row" style="margin-bottom: 20px;justify-content: center;">
      <i class="mdi mdi-checkbox-marked-outline mdi-48px"></i>
      <h2 style="color: #000;padding-bottom: 0;margin-bottom: 0;padding-top: 30px;">Finalizado</h2>
    </div>
    <div>
      <%= link_to 'Voltar', new_import_path, class:"btn btn-primary" %>
    </div>

  <% end %>
<% end %>