<body class="align">

  <div class="grid align__item">
    <div class="register">

      <% if notice.present? || alert.present? %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      <% end  %>

      <img src="<%= asset_path 'logo.png' %>" alt="" height="58">
      <h2 class="texto_loguin">Loguin</h2>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"form") do |f| %>

        <div class="form__field">
          <%= f.email_field :email,
                            autofocus: true,
                            placeholder:"Digite seu Email",
                            autocomplete: "email" %>
        </div>


        <div class="field">
          <%= f.password_field :password,
                               autocomplete: "current-password",
                               placeholder: "Digite sua Senha"%>
        </div>

        <div class="form__field mt-3">
          <%= f.submit "Entrar" %>
        </div>

      <% end %>

      <p>Esqueceu sua Senha?
        <%= link_to "Redefinir", new_password_path(resource_name) %><br />
      </p>

    </div>

  </div>

  <footer class="footer footer-alt">
    2021 - 2021 © IADA - Weathe
  </footer>

</body>
