<%#= grouped_options = [['Europe',["London, UK", "Stockholm, Sweden"]], ['USA', ["San Francisco, USA", "Mountain View"]]] %>
<%#= f.select :location, grouped_options_for_select(grouped_options) %>

<%= form_with model: @weather_stations_search,
              url: weather_stations_path do |form| %>
  <div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="header-title">Filtros</h4>

        <div class="row">
          <div class="col-md-4">
            <p class="mb-1 mt-3 font-weight-bold text-muted">WMO</p>
            <%= form.select :wmo_code,
                            options_for_select(@wmo.collect { |tp| [tp,tp] }, form.object.wmo_code),
                            {include_blank: 'Selecione'},
                            {class: 'form-control select2-multiple', multiple: true} %>
          </div>
          <div class="col-md-2">
            <p class="mb-1 mt-3 font-weight-bold text-muted">REGIÃO</p>
            <%= form.select :region,
                           options_for_select(@region.collect { |tp| [tp.second, tp.first] }, form.object.region),
                            {include_blank: 'Selecione uma Região'},
                            {class: 'form-control select2'} %>
          </div>

          <div class="col-md-2">
            <p class="mb-1 mt-3 font-weight-bold text-muted">Estado</p>
            <%= form.select :state,
                            options_for_select(@estado.collect { |tp| [tp, tp] }, form.object.state),
                            {include_blank: 'Selecione uma Estado'},
                            {class: 'form-control select2'} %>
          </div>
          <div class="col-md-2">
            <p class="mb-1 mt-3 font-weight-bold text-muted">Cidade</p>
            <%= form.select :station,
                            options_for_select(@cidade.collect { |tp| [tp, tp] }, form.object.station),
                            {include_blank: 'Selecione uma cidade'},
                            {class: 'form-control select2'} %>
          </div>

        </div>

        <div class="row mt-2" >
          <div class="col-1">
            <div class="form-group mb-3">
              <p class="mb-1 mt-3 font-weight-bold text-muted">DATA INICIO</p>
              <input type="text" class="form-control" data-provide="datepicker">
            </div>
          </div>
          <div class="col-1">
            <div class="form-group mb-3">
              <p class="mb-1 mt-3 font-weight-bold text-muted">DATA FIM</p>
              <input type="text" class="form-control" data-provide="datepicker">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<% end %>

<script>
    $('.select2').select2()
    $('.select2-multiple').select2({ multiple: true })
</script>